<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
table, th, td {
  border:1px solid black;
  text-align:center;
}
</style>
<body>
<h1 style="text-align:center">STOCK DATA TEMPLATE</h1>
{{template "table" .}}
</body>
</html>