<!DOCTYPE html>
<html lang="en">
    <head><meta charet="UTF-8">
        <title></title>
    </head>
    <body>
        <strong>CONTACT</strong><br>
        <a href="/">index</a><br>
        <a href="/about">about</a><br>
        <a href="/contact">contact</a><br>
        <a href="/apply">apply</a><br>
	</body>
</html>